{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تشکر</title>
    <link type="text/css" href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/thanks.css' %}" rel="stylesheet">
</head>
<body dir="rtl">
<div class="content center">
    <p>
        ممنون از اینکه وقت گذاشتی
        <span> :) </span>
    </p>
</div>
</body>
</html>